In [135]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## PostGres Connections

In [152]:
import psycopg2

In [153]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://patrickmaus@localhost:5432/{}'.format(database))

engine

Engine(postgresql://patrickmaus@localhost:5432/ais_test)

## Clean Port Data

In [181]:
ports_full = pd.read_csv('wpi.csv')
ports = ports_full[['index_no','port_name','latitude','longitude']]
ports = ports.rename(columns={'latitude':'lat','longitude':'lon'})
ports.head()

   index_no      port_name        lat         lon
0     61090       SHAKOTAN  43.866667  146.833333
1     61110    MOMBETSU KO  44.350000  143.350000
2      5750  CHARLOTTETOWN  46.233333  -63.133333
3     61120    ABASHIRI KO  44.016667  144.283333
4     61130      NEMURO KO  43.333333  145.583333

## Get Data

In [138]:
port_activity = pd.read_csv('port_activity_sample.csv')
port_activity.head()
port_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155696 entries, 0 to 2155695
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   mmsi       int64
 1   time       object
 2   port_name  object
 3   port_id    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 65.8+ MB

In [139]:
ship_position = pd.read_csv('ship_position_sample.csv')
ship_position.head()
ship_position.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155696 entries, 0 to 2155695
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   mmsi    int64
 1   time    object
 2   lat     float64
 3   lon     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 65.8+ MB

In [140]:
df = pd.merge(port_activity, ship_position, how='left', on=['mmsi','time'])

In [141]:
df.head()

     mmsi                 time port_name  port_id       lat       lon
0  976800  2017-01-31 23:38:37       NaN      NaN  27.33239 -82.54572
1  976800  2017-01-31 23:41:36       NaN      NaN  27.33236 -82.54572
2  976800  2017-01-31 23:47:38       NaN      NaN  27.33238 -82.54570
3  976800  2017-01-31 23:50:36       NaN      NaN  27.33240 -82.54569
4  976800  2017-01-31 23:53:36       NaN      NaN  27.33239 -82.54570

In [143]:
df_rick = df[df['mmsi']==538090091]
df_rick.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9969 entries, 2088541 to 2098509
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mmsi       9969 non-null   int64
 1   time       9969 non-null   object
 2   port_name  288 non-null    object
 3   port_id    288 non-null    float64
 4   lat        9969 non-null   float64
 5   lon        9969 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 545.2+ KB

In [144]:
df_ports = df[df['port_id'] > 0]
df_ports.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 390994 entries, 373 to 2149498
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   mmsi       390994 non-null  int64
 1   time       390994 non-null  object
 2   port_name  390994 non-null  object
 3   port_id    390994 non-null  float64
 4   lat        390994 non-null  float64
 5   lon        390994 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 20.9+ MB

In [145]:
print(len((df_ports['port_id'].unique())))
print(len(df_ports))

157
390994

## Run DB Scan

In [245]:
df = df_rick
eps = .025
min_samples = 5

In [246]:
from sklearn.cluster import DBSCAN

X = df[['lat','lon']].values

dbscan = DBSCAN(eps=eps, min_samples=min_samples)
dbscan.fit(X)

print('Number of unique labels: ', np.unique(dbscan.labels_))
print('Number of  Core Samples:' , len(dbscan.core_sample_indices_))

results_dict = {'clust_id': dbscan.labels_,'lat':X[:, 0],'lon':X[:,1]}
df_results = pd.DataFrame(results_dict)

Number of unique labels:  [-1  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
Number of  Core Samples: 9843

## Find Center of Each Cluster and compare to nearest Port

In [247]:
from math import radians, cos, sin, asin, sqrt

def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 3956  # 6371 Radius of earth in kilometers. Use 3956 for miles
    return c * r

def determine_min_distances(df1, name_1, df2, name_2):
    min_distances = []
    for i in range(len(df1)):
        lon1 = df1['lon'].loc[i]
        lat1 = df1['lat'].loc[i]
        distances = []
        for x in range(len(df2)):
            lon2 = df2['lon'].loc[x]
            lat2 = df2['lat'].loc[x]
            dist = haversine(lon1, lat1, lon2, lat2)
            distances.append((round(dist,3),df1[name_1].loc[i],df2[name_2].loc[x]))
        min_distances.append(min(distances))
    return(min_distances)

In [248]:
dist = determine_min_distances(centers,'clust_id',ports,'port_name')
df_dist = pd.DataFrame(dist, columns=['distance from center', 'clust_id', 'nearest_port'])

In [249]:
# group the results from the haversine by mean to get the centerpoint of the cluster
centers = df_results.groupby('clust_id').mean().reset_index()
# group the same results by count to get the total number of positions
counts = df_results.groupby('clust_id').count()
# select only one column, in this case I chose lat
counts['counts'] = counts['lat']
# drop the other columns so count is now just the clust_id and the summed counts
counts.drop(['lat','lon'], axis=1, inplace=True)
# merge counts and centers
centers = pd.merge(centers, counts, how='left', on='clust_id')
# merge the full centers file with the results of the haversine equation
centers = pd.merge(centers, df_dist, how='left', on='clust_id')
centers.head()

   clust_id        lat        lon  counts  distance from center nearest_port
0        -1  29.558470 -79.801224      86                33.037   GEORGETOWN
1         0  29.088460 -89.467466     967                 3.249       CAMDEN
2         1  29.878024 -89.937014     387                10.875     BEAUFORT
3         2  27.298423 -88.385550       6                   NaN          NaN
4         3  27.196300 -88.315568      21                   NaN          NaN

## Adding to Database for QGIS visualization

In [161]:
#%% Make and test conn and cursor
conn = psycopg2.connect(host="localhost",database=database)
c = conn.cursor()
if c:
    print('Connection to {} is good.'.format(database))
else:
    print('Error connecting.')
c.close()

Connection to ais_test is good.

In [162]:
def df_to_table_with_geom(df, name, eps, min_samples):
    # add the eps and min_samples value to table name
    new_table_name = 'dbscan_results_' + name + '_' + '_' + str(min_samples)
    
    # drop table if an old one exists
    c = conn.cursor()
    c.execute("""DROP TABLE IF EXISTS {}""".format(new_table_name))
    conn.commit()
    c.close()
    # make a new table with the df
    df.to_sql(new_table_name, engine)
    # add a geom column to the new table and populate it from the lat and lon columns
    c = conn.cursor()
    c.execute("""ALTER TABLE {} ADD COLUMN 
                geom geometry(Point, 4326);""".format(new_table_name))
    conn.commit()
    c.execute("""UPDATE {} SET 
                geom = ST_SetSRID(ST_MakePoint(lon, lat), 4326);""".format(new_table_name))
    conn.commit()
    c.close()

In [163]:
df_to_table_with_geom(df_results, 'df_rick', eps, min_samples)

## Original Code from book

In [6]:
from sklearn.cluster import DBSCAN

In [11]:
dbscan = DBSCAN(eps=0.05, min_samples=5)
dbscan.fit(X)

DBSCAN(algorithm='auto', eps=0.05, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=5, n_jobs=None, p=None)

In [12]:
dbscan.labels_[:10]

array([ 0,  2, -1, -1,  1,  0,  0,  0,  2,  5])

In [13]:
len(dbscan.core_sample_indices_)

808

In [14]:
dbscan.core_sample_indices_[:10]

array([ 0,  4,  5,  6,  7,  8, 10, 11, 12, 13])

In [15]:
dbscan.components_[:3]

array([[-0.02137124,  0.40618608],
       [-0.84192557,  0.53058695],
       [ 0.58930337, -0.32137599]])

In [16]:
np.unique(dbscan.labels_)

array([-1,  0,  1,  2,  3,  4,  5,  6])

In [17]:
dbscan2 = DBSCAN(eps=0.2)
dbscan2.fit(X)

DBSCAN(algorithm='auto', eps=0.2, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=5, n_jobs=None, p=None)

In [36]:
def plot_dbscan(dbscan, X, size, show_xlabels=True, show_ylabels=True):
    core_mask = np.zeros_like(dbscan.labels_, dtype=bool)
    core_mask[dbscan.core_sample_indices_] = True
    anomalies_mask = dbscan.labels_ == -1
    non_core_mask = ~(core_mask | anomalies_mask)

    cores = dbscan.components_
    anomalies = X[anomalies_mask]
    non_cores = X[non_core_mask]
    
    plt.scatter(cores[:, 0], cores[:, 1],
                c=dbscan.labels_[core_mask], marker='o', s=size, cmap="Paired")
    plt.scatter(cores[:, 0], cores[:, 1], marker='*', s=20, c=dbscan.labels_[core_mask])
    plt.scatter(anomalies[:, 0], anomalies[:, 1],
                c="r", marker="x", s=100)
    plt.scatter(non_cores[:, 0], non_cores[:, 1], c=dbscan.labels_[non_core_mask], marker=".")
    if show_xlabels:
        plt.xlabel("$x_1$", fontsize=14)
    else:
        plt.tick_params(labelbottom=False)
    if show_ylabels:
        plt.ylabel("$x_2$", fontsize=14, rotation=0)
    else:
        plt.tick_params(labelleft=False)
    plt.title("eps={:.2f}, min_samples={}".format(dbscan.eps, dbscan.min_samples), fontsize=14)

In [ ]:
plt.figure(figsize=(9, 3.2))

plt.subplot(121)
plot_dbscan(dbscan, X, size=100)



plt.show()